@charset "UTF-8";
body { overflow-x: hidden; }

a { outline: none; }

/*
 * Animation for bounce effect
*/
@-webkit-keyframes bounce { 0%, 20%, 50%, 80%, 100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  40% { -webkit-transform: translateY(15px); transform: translateY(15px); }
  60% { -webkit-transform: translateY(15px); transform: translateY(15px); } }
@keyframes bounce { 0%, 20%, 50%, 80%, 100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  40% { -webkit-transform: translateY(15px); transform: translateY(15px); }
  60% { -webkit-transform: translateY(15px); transform: translateY(15px); } }

#alternating-section .alt-row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

@media only screen and (max-width: 992px) { #alternating-section .alt-row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

#alternating-section .alt-row.reverse { -webkit-box-orient: horizontal !important; -webkit-box-direction: reverse !important; -ms-flex-direction: row-reverse !important; flex-direction: row-reverse !important; }

@media only screen and (max-width: 992px) { #alternating-section .alt-row.reverse { -webkit-box-orient: vertical !important; -webkit-box-direction: normal !important; -ms-flex-direction: column !important; flex-direction: column !important; } }

#alternating-section .alt-row .alt-img-wrap { width: 40%; height: auto; min-height: 400px; position: relative; overflow: hidden; }

@media only screen and (max-width: 992px) { #alternating-section .alt-row .alt-img-wrap { width: 100%; } }

#alternating-section .alt-row .alt-img-wrap img { min-width: 100%; min-height: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: auto; height: auto; max-width: unset; }

@media only screen and (min-width: 993px) { #alternating-section .alt-row .alt-img-wrap img { width: 100%; min-height: unset; } }

#alternating-section .alt-row .alt-content-wrap { width: 60%; padding: 50px; }

@media only screen and (max-width: 992px) { #alternating-section .alt-row .alt-content-wrap { width: 100%; } }

#alternating-section .alt-row .alt-content-wrap strong { color: #4c7e92; font-size: 2.3rem; }

@media only screen and (min-width: 421px) and (max-width: 992px) { #alternating-section .alt-row .alt-content-wrap strong { font-size: 2rem; } }

@media only screen and (max-width: 420px) { #alternating-section .alt-row .alt-content-wrap strong { font-size: 1.6rem; } }

a.pop { z-index: 3; background: white; padding: 10px; -webkit-box-shadow: -10px 10px #444; box-shadow: -10px 10px #444; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; color: #444; font-size: 1.1rem; margin-top: 20px; }

a.pop.software { background: #866d5c; color: #FFF; }

a.pop.apps { background: #8d9876; color: #FFF; }

a.pop.web { background: #4c7e92; color: #FFF; }

a.pop:hover { padding: 14px; -webkit-box-shadow: -10px 10px 18px 0px #444; box-shadow: -10px 10px 18px 0px #444; font-size: 1.2rem; }

.row-2 { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

@media only screen and (max-width: 992px) { .row-2 { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

#cta { padding: 75px 0px; background: #dde0d6; }

#cta .form-wrap form { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media screen and (max-width: 1360px) { #cta .form-wrap form { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

#cta .form-wrap form .field { padding: 15px; max-width: 420px; }

@media screen and (max-width: 1360px) { #cta .form-wrap form .field { margin: 0 auto; } }

#cta .form-wrap form .field input { background: none; border: none; border-bottom: #666 solid 3px !important; }

#cta .form-wrap form .submit { width: 100%; text-align: center; }

.site-footer .wrap { max-width: unset; padding-left: 50px; padding-right: 50px; }

.header-profile .profile-wrap { min-height: 30vh; height: auto; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; padding-top: 103px !important; padding: 40px 50px; background: #363b3e; }

.header-profile .profile-wrap .headshot { position: relative; height: 0px; width: 20%; padding-bottom: 20%; min-width: 250px; min-height: 250px; }

.header-profile .profile-wrap .headshot img { width: 95%; position: relative; height: auto; min-width: 250px; min-height: 250px; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; -webkit-transform: scale(0); transform: scale(0); }

.header-profile .profile-wrap .profile-content { color: #FFF; width: auto; max-width: 700px; padding: 50px; line-height: 2; font-size: 1.3rem; }

@media only screen and (max-width: 992px) { .header-profile .profile-wrap .profile-content { padding-left: 0; } }

.header-profile .profile-wrap .profile-content a { color: #a6c5d1; }

.header-profile .profile-wrap .profile-content a:hover { color: #74a4b7; }

.header-short { margin-top: 49px; padding: 20px 50px; position: relative; }

.header-short .page-title { margin: 0; position: relative; display: inline-block; overflow: hidden; }

.header-short .page-title .letters { font-size: 2rem; color: #FFF; }

.header-short .page-title .letter { display: inline-block; line-height: 1em; -webkit-transform-origin: 0 0; transform-origin: 0 0; opacity: 0; }

.navigation-top { bottom: unset !important; border: none; background: #4c7e92; }

.navigation-top .wrap { max-width: unset; padding: 0 50px; }

.navigation-top .wrap #top-menu li { outline: none; }

.navigation-top .wrap #top-menu li a { outline: none; color: rgba(255, 255, 255, 0.75); -webkit-transition: color 0.3s ease; transition: color 0.3s ease; padding-left: 0; }

.navigation-top .wrap #top-menu li a:hover { color: #FFF; }

.navigation-top .wrap #top-menu li.current_page_item a { color: #FFF; }

#tri-feature { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media only screen and (max-width: 992px) { #tri-feature { -ms-flex-wrap: wrap; flex-wrap: wrap; } }

#tri-feature .feature-box { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 50px; padding-left: 85px; color: #FFF; position: relative; min-width: 405px; }

@media only screen and (min-width: 421px) and (max-width: 992px) { #tri-feature .feature-box { min-width: 300px; } }

@media only screen and (max-width: 420px) { #tri-feature .feature-box { min-width: 100vw; } }

@media only screen and (max-width: 992px) { #tri-feature .feature-box { padding-left: 50px; } }

#tri-feature .feature-box:nth-child(1) { background: #4c7e92; }

#tri-feature .feature-box:nth-child(1):after { background: #4c7e92; }

#tri-feature .feature-box:nth-child(2) { background: #8d9876; }

#tri-feature .feature-box:nth-child(2):after { background: #8d9876; }

#tri-feature .feature-box:nth-child(3) { background: #866d5c; }

#tri-feature .feature-box:nth-child(3):after { background: #866d5c; }

#tri-feature .feature-box:after { content: ""; height: 100%; width: 100px; position: absolute; right: -50px; top: 0; z-index: 2; -webkit-transform: skew(10deg); transform: skew(10deg); }

@media only screen and (max-width: 992px) { #tri-feature .feature-box { width: 100%; }
  #tri-feature .feature-box:after { display: none; } }

#tri-feature .feature-box strong { font-size: 2.3rem; }

@media only screen and (min-width: 421px) and (max-width: 992px) { #tri-feature .feature-box strong { font-size: 2rem; } }

@media only screen and (max-width: 420px) { #tri-feature .feature-box strong { font-size: 1.6rem; } }

#tri-feature .feature-box a { z-index: 3; background: white; padding: 10px; -webkit-box-shadow: -10px 10px #444; box-shadow: -10px 10px #444; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; color: #444; }

#tri-feature .feature-box a:hover { padding: 14px; -webkit-box-shadow: -10px 10px 18px 0px #444; box-shadow: -10px 10px 18px 0px #444; font-size: 1.2rem; }

body.home main article .wrap ul:nth-child(1) { padding-right: 40px; }

@media only screen and (max-width: 992px) { body.home main article .wrap ul:nth-child(1) { padding-right: 0px; } }

.page-template-SERVICE #zig-zag { padding-bottom: 75px; }

.page-template-SERVICE #zig-zag .row { position: relative; padding: 50px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.page-template-SERVICE #zig-zag .row.reverse { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.page-template-SERVICE #zig-zag .row.web { background-color: #e9f1f4; background-image: linear-gradient(65deg, #e9f1f4 50%, #FFF 50%); }

.page-template-SERVICE #zig-zag .row.web.reverse { background-image: linear-gradient(65deg, #FFF 50%, #e9f1f4 50%); }

.page-template-SERVICE #zig-zag .row.web .content h1 { color: #4c7e92; }

.page-template-SERVICE #zig-zag .row.apps { background-color: #eef0ea; background-image: linear-gradient(65deg, #eef0ea 50%, #FFF 50%); }

.page-template-SERVICE #zig-zag .row.apps.reverse { background-image: linear-gradient(65deg, #FFF 50%, #eef0ea 50%); }

.page-template-SERVICE #zig-zag .row.apps .content h1 { color: #8d9876; }

.page-template-SERVICE #zig-zag .row.software { background-color: #f3f0ee; background-image: linear-gradient(65deg, #f3f0ee 50%, #FFF 50%); }

.page-template-SERVICE #zig-zag .row.software.reverse { background-image: linear-gradient(65deg, #FFF 50%, #f3f0ee 50%); }

.page-template-SERVICE #zig-zag .row.software .content h1 { color: #866d5c; }

.page-template-SERVICE #zig-zag .row .content { width: 50%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: auto; min-height: 525px; font-size: 1.5rem; padding: 60px; }

@media only screen and (max-width: 992px) { .page-template-SERVICE #zig-zag .row .content { min-height: unset; } }

.page-template-SERVICE #zig-zag .row .content h1 { font-size: 1.8rem; }

.page-template-SERVICE #zig-zag .row .image { width: 50%; overflow: hidden; max-height: 600px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.page-template-SERVICE #zig-zag .row .image img { width: 100%; height: auto; }

ul.iconlist { list-style: none !important; padding-left: 1em !important; }

ul.iconlist li { list-style: none !important; line-height: 1.3em; }

@media only screen and (max-width: 420px) { ul.iconlist li { line-height: 2.5rem; } }

ul.iconlist li:before { font-family: "FontAwesome"; content: ""; display: inline-block; margin-left: -1.5em; width: 1.5em; color: #4c7e92; }

ol.iconlist { list-style: none !important; padding-left: 1em !important; }

ol.iconlist li { list-style: none !important; line-height: 1.3em; }

@media only screen and (max-width: 420px) { ol.iconlist li { line-height: 2.5rem; } }

ol.iconlist li:before { font-family: "FontAwesome"; content: ""; display: inline-block; margin-left: -1.5em; width: 1.5em; color: #4c7e92; }
