#cta {
  padding: 75px 0px;
  background: lighten($brand_gray_light, 33%);
  .form-wrap {
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @media screen and (max-width: 1360px) {
        flex-direction: column;
      }
      .field {
        padding: 15px;
        max-width: 420px;
        @media screen and (max-width: 1360px) {
          margin: 0 auto;
        }
        input {
          background: none;
          border: none;
          border-bottom: #666 solid 3px !important;
        }
      }
      .submit {
        width: 100%;
        text-align: center;
      }
    }
  }
}
