#tri-feature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include device(smartphone, tablet) {flex-wrap: wrap;}
  .feature-box {
    flex: 1;
    padding: 50px;
    padding-left: 85px;
    color: #FFF;
    position: relative;
    min-width: 405px;
    @include device(tablet) {min-width: 300px;}
    @include device(smartphone) {min-width: 100vw;}
    @include device(smartphone, tablet) {padding-left: 50px;}
    &:nth-child(1){background: $brand_primary; &:after {background: $brand_primary;}}
    &:nth-child(2){background: $brand_gray_light; &:after {background: $brand_gray_light;}}
    &:nth-child(3){background: $brand_secondary; &:after {background: $brand_secondary;}}
    &:after {
      content: "";
      height: 100%;
      width: 100px;
      position: absolute;
      right: -50px;
      top: 0;
      z-index: 2;
      transform: skew(10deg);
    }
    @include device(smartphone, tablet) {
      width: 100%;
      &:after {
        display: none;
      }
    }
    strong {
      font-size: 2.3rem;
      @include device(tablet) {font-size: 2rem;}
      @include device(smartphone) {font-size: 1.6rem;}
    }
    a {
      z-index: 3;
      background: white;
      padding: 10px;
      box-shadow: -10px 10px #444;
      transition: all 0.4s ease;
      color: #444;
      &:hover {
        padding: 14px;
        box-shadow: -10px 10px 18px 0px #444;
        font-size: 1.2rem;
      }
    }
  }
}
